pokemon_training/
PokemonRed.gb*
.idea/
pokemon_red_ai/__pycache__/
pokemon_red_ai/cli/__pycache__/
pokemon_red_ai/environment/__pycache__/
pokemon_red_ai/game/__pycache__/
pokemon_red_ai/training/__pycache__/
pokemon_red_ai/utils/__pycache__/
tests/__pycache__/
tests/unit/game/__pycache__/
tests/unit/environment/__pycache__/